.navBlock {
    background-color: white;
    padding: 10px;
}

.logo {
    margin-left: 20px;
    width: 100%;
    max-width: 240px;
    height: auto;
}

.navBlock {
    margin: 0 auto;
}

.nav {
    color: black;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
    font-size: 17px;
    padding: 7px;
}

.nav:hover {
    color: dodgerblue;
}

.active {
    color: dodgerblue;
}

.toggle {
    background-color: black;
}

